<!-- src/app/pages/player/player.component.html -->
<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Basic Biblical Doctrine </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        
      <div class="col-lg-12">
            <!-- <mat-card-title>Top Paying Clients</mat-card-title> -->
            <div class="iconDiv">
              <i-tabler name="music" class="icon icon-tabler icons-tabler-outline icon-tabler-music iconHeader"></i-tabler>
          </div>
            <div class="table-responsive m-t-16">
              <table mat-table [dataSource]="files" class="w-100 table-borderless">
                <!-- Position Column -->
                <ng-container matColumnDef="Audio">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="f-w-600 mat-subtitle-1 f-s-14"
                  >
                    Audio
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>
                      <h6 class="mat-subtitle-1 f-s-14 f-w-700">
                      {{ element.topic }}
                    </h6>
                  </div>

                    <div class="d-flex align-items-center">
                    
                      <audio controls>
                        <source src="{{ element.url }}" />
                      </audio>
                    </div>
                  </td>
                </ng-container>
    
                <!-- Name Column -->
                <ng-container matColumnDef="Topic">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="f-w-600 mat-subtitle-1 f-s-14"
                  >
                    Topic
                  </th>
                  <td mat-cell *matCellDef="let element" class="mat-body-1 f-w-500">
                    <div class="m-l-16">
                      
                      <!-- <img
                      [src]="element.bannerUrl"
                      alt="users"
                      width="50"
                      class="rounded-circle"
                    /> -->
                      <span class="mat-body-1 f-s-14">
                        Prof. {{ element.speaker }}
                      </span>
                    </div>
                  </td>
                </ng-container>
    
                <!-- Weight Column -->
                <ng-container matColumnDef="Name">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="f-w-600 mat-subtitle-1 f-s-14"
                  >
                   Name
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    class="mat-body-1 text-success"
                  >
                    {{ element.name }}
                  </td>
                </ng-container>
    
                <!-- Symbol Column -->
                <ng-container matColumnDef="Type">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="f-w-600 mat-subtitle-1 f-s-14"
                  >
                    Type
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <ng-template [ngIf]="element.type == 'Available'">
                      <span
                        class="bg-light-success text-success rounded f-w-600 p-y-6 p-x-16 f-s-14"
                      >
                        {{ element.type | titlecase }}
                      </span>
                    </ng-template>
                    <ng-template [ngIf]="element.type == 'In Class'">
                      <span
                        class="bg-light-primary text-primary rounded f-w-600 p-y-6 p-x-16 f-s-14"
                      >
                        {{ element.priority | titlecase }}
                      </span>
                    </ng-template>
                    <ng-template [ngIf]="element.type == 'mp3'">
                      <span
                        class="bg-light-error text-error rounded f-w-600 p-y-6 p-x-16 f-s-14"
                      >
                        {{ element.type | titlecase }}
                      </span>
                    </ng-template>
                    <ng-template [ngIf]="element.type == 'On Leave'">
                      <span
                        class="bg-light-warning text-warning rounded f-w-600 p-y-6 p-x-16 f-s-14"
                      >
                        {{ element.type | titlecase }}
                      </span>
                    </ng-template>
                  </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
      </div>
    <div class="content">
       







    </div>
</mat-card-content>
</mat-card>
