<div class="col-lg-12" *ngIf="listOfLessons.length === 0">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24"> 
        <mat-card-title class="text-center">
           Search lesson by Unit , month and year
        </mat-card-title>
          <div class="row">
      <!--  Month  -->
        <div class=" col-lg-2">
            <mat-form-field appearance="outline" class="w-100" color="primary" >
                <mat-label>Year</mat-label>
                 <input  readonly   matInput   [(ngModel)]="queryParam.year"    name="queryItem"   type="text" />
            </mat-form-field>
        </div>
       
          <div class=" col-lg-5">
            <mat-form-field appearance="outline" class="w-100" color="primary" >
                <mat-label>Month</mat-label>
                <mat-select  [(ngModel)]="currentMonth" name="currentMonth" >
                    <mat-option *ngFor="let currentMonth of weekDayList" [value]="currentMonth">{{currentMonth}}</mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
       

        <!-- Unit -->
        <div class=" col-lg-5">
            <mat-form-field appearance="outline" class="w-100" color="primary" >
                <mat-label>Unit</mat-label>
                <mat-select    [(ngModel)]="queryUnit" name="queryUnit">
                    <mat-option *ngFor="let item of unitsDetails" [value]="item">{{item.unit}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
          <div class="row" class="" style="float: right !important;">
            <button type="button"  mat-flat-button  color="primary" [matTooltip]="'Search'"  aria-label="" (click)="getSundaySchoolLessonForAMonth()">
                    Search
            </button>
          </div>
      </div>
         <!-- <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-label></mat-label>
          <input
            matInput
            [(ngModel)]="queryItem"
            name="queryItem"
            type="text"
            (ngModelChange)="searchList(searchItem)"
          />
        </mat-form-field> -->

    </mat-card-content>
  </mat-card>
</div>

<div class="col-lg-12">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>Sunday Lesson List for</mat-card-title>
      <div class="table-responsive m-t-16">
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-label
            >Search lesson by year, month , day or day of the week</mat-label
          >
          <input
            matInput
            [(ngModel)]="searchItem"
            name="searchItem"
            type="text"
            (ngModelChange)="searchList(searchItem)"
          />
        </mat-form-field>

        <table
          mat-table
          [dataSource]="dataSource"
          class="w-100 table-borderless"
        >
          <!-- Id Column -->
          <ng-container matColumnDef="S/N">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14 tableHeader"
            >
              S/N
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Day Column -->
          <ng-container matColumnDef="Topic">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14 tableHeader wrapText"
            >
              Topic
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                
                  <span class="mat-body-1 f-s-14">
                    {{ element.Topic }}
                  </span>
                </div>
              </div>
            </td>
          </ng-container>

             <ng-container matColumnDef="Notes">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14 tableHeader"
            >
             Notes
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="mat-body-1 text-danger f-w-500 wrapText"
            >
              <span class="lessonHeader"> {{ element.Notes }} </span>
            </td>
          </ng-container>

             <ng-container matColumnDef="Focus">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14 tableHeader"
            >
             Focus
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="mat-body-1 text-danger f-w-500 wrapText"
            >
              <span class="lessonHeader"> {{ element.Focus }} </span>
            </td>
          </ng-container>

          <!-- First Lesson Column -->
          <ng-container matColumnDef="Date">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14 tableHeader wrapText"
            >
              Date
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1 f-w-500">
            
                <span class="lessonHeader"> {{ element.Date }} </span>
           
            </td>
          </ng-container>

          <!-- Only  Column -->
          <ng-container matColumnDef="BibleReading">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14 tableHeader"
            >
              Bible Reading
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="mat-body-1 text-danger f-w-500 wrapText"
            >
              <span class="lessonHeader"> {{ element.BibleReading }} </span>
            </td>
          </ng-container>


       


          <ng-container matColumnDef="MemoryVerse">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14 tableHeader"
            >
             Memory Verse
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="mat-body-1 text-danger f-w-500 wrapText"
            >
              <span class="lessonHeader"> {{ element.MemoryVerse }} </span>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Action">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14 tableHeader"
            >
              Action
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-mini-fab
                class="bg-light-success text-success shadow-none icon-27"
                (click)="editLesson(element)"
              >
                <i-tabler name="edit" class="icon-20"></i-tabler>
              </button>
              &nbsp;
              <button
                mat-mini-fab
                class="bg-light-error text-error shadow-none icon-27"
                (click)="deleteLesson(element)"
              >
                <i-tabler name="trash" class="icon-20"></i-tabler>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          #paginator
          [length]="dataSize"
          [pageSize]="4"
          [pageSizeOptions]="[2, 4, 6, 8, 10]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
