
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
.logo{
    max-width: 30% !important;
}

// previus primary color 
//0085db
.validation-errors{
    margin-left:5px ;
    font-size: 12px;
    color: red;
    text-align: left !important;
  }