<div class="flex-layout">
  <app-branding></app-branding>
  <ng-scrollbar class="position-relative" style="height: 100%">
    <mat-nav-list class="sidebar-list">
      <app-nav-item *ngFor="let item of navItems" [item]="item"> </app-nav-item>
    </mat-nav-list>
  </ng-scrollbar>
  <ng-container *ngIf="showSideMenu">
  <div class="p-24">
    <a
      mat-flat-button
      color="primary"
      href=""
      class="d-flex justify-content-center w-100"
    >
      Logout
    </a>
  </div>
</ng-container>
</div>
